@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #141414;
    color: white;
    position: relative;
  }
}
@layer components {
  figure > span > img {
    filter: blur(0) !important;
  }
  .overimage {
    background: radial-gradient(ellipse at center, transparent, black);
  }
  .modal {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
